<!DOCTYPE html>
<html>
<head>
  <title>MOVIES</title>
</head>
<body>


<h1>All the Movies!</h1>

  <form action="/movies" method="post">
    <input type="text" name="search"/>
    <input type="submit" value="Search Movies!"/>
  </form>

<br>

<table>
  <tr>
    <th><a href="/movies?order=movies.title">Title:</a></th>
    <th><a href="/movies?order=movies.year">Year:</a></th>
    <th><a href="/movies?order=movies.rating">Rating:</a></th>
    <th><a href="/movies?order=genres.name">Genre:</a></th>
    <th><a href="/movies?order=studios.name">Studio:</a></th>
  </tr>
  <%movies.each do |movie|%>
  <tr>
    <td><a href="/movies/<%= movie['id'] %>"><%=movie['title']%></a></td>
    <td><%=movie['year']%></td>
    <td><%=movie['rating']%></td>
    <td><%=movie['genre']%></a></td>
    <td><%=movie['studio']%></td>
  </tr>
  <%end%>

</table>
<br>
  <%unless search.nil?%>
    <a href="/movies">Back to movies</a>
    <%end%>

  <%unless page == 1 || search.nil?%>
  <a href="/actors?page=<%= page - 1 %>">PREVIOUS PAGE</a>
  <%end%>

  <%unless page >= last_page%>
  <a href="/actors?page=<%= page + 1 %>">NEXT PAGE</a>
  <%end%>
</body>
</html>
